* {
  margin: auto;
}

body {
  font-family: "Montserrat", "san-serif";
  background: linear-gradient(315deg, #13416a 0%, #071827 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.App {
  text-align: center;
  width: 50%;
}

@media only screen and (max-width:768px) {
  .App {
    width: 80%;
  }
}

/* Header */
.Header {
  padding-top: 2rem;
}

#blazesoft-heading {
  font-weight: 200;
}


/* AddBook */
.form-section {
  display: flex;
}

.form-group {
  margin: 1rem;
  flex: 1;
}

.form-group label, .form-group input {
  display: block;
}

.form-group label {
  text-align: left;
}

.form-group input, .form-group textarea {
  box-sizing: border-box;
  width: 100%;
  color: white;
  padding: 0.7rem;
}

.form-group textarea {
  height: 100px;
}

.form-group textarea {
  resize: none;
}

.form-group input, .form-group textarea  {
  background-color: #113a5e;
  transition: 0.2s ease-in-out;
  border: none;
}

.form-group input:focus, .form-group textarea:focus  {
  background-color: rgb(252, 252, 252);
  color: black;
}

.button-section {
  margin: 1rem;
}

#save-button {
  background-color: #ffffff00;
  color: white;
  width: 100%;
  padding: 1rem;
  border: 1px solid #91E3CE;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

#save-button:hover {
  background-color: #91E3CE;
  color: black;
}

@media only screen and (max-width:992px) {
  .form-section {
    display: block;
  }
}

